.menulink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #0066CC; text-decoration: none}
.menulink:hover { text-decoration: underline; background-color: #F2F2F2}
.piepagina {  font-family: Tahoma, sans-serif; font-size: 11px; color: #0066CC; text-decoration: none}
.titulo {  font-family: Tahoma, sans-serif; font-size: large; font-weight: bold; color: #FFFFFF}
.subtitle {  font-family: Tahoma, sans-serif; font-size: small; color: #0066CC; font-weight: bold}
.contenido {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-align: justify}
.piepagina:hover {  color: #FF0000}

ul {
	margin: 0 0 0 1em;
	padding:0;
}
li {  list-style-type: square;
	margin: 0;
	padding:0
}
.menutitulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.titulo1 {  font-family: Tahoma, sans-serif; font-size: medium; font-weight: bold; color: #000000}
.linkcomun {  color: #0099CC; text-decoration: none}
.linkcomun:hover {  color: #FF0000; text-decoration: underline; background-color: #E6E6E6}
.tituloTabla {  font-family: Tahoma, sans-serif; font-size: small; font-weight: bold}
.contenidoTabla {  font-family: Tahoma, sans-serif; font-size: 11px}
.subtitulo {  font-family: Tahoma, sans-serif; font-weight: bold; color: #006699; font-size: small}
.fuente {  font-family: "Courier New", Courier, mono; font-size: 11px}
.tituloTabla2 {  font-size: 11px; font-family: Tahoma, sans-serif; font-weight: bold}
.fuente2 {  font-family: "Courier New", Courier, mono; font-size: small; clip:   rect(   1.5em); margin-left: 1.5em}
.date {  font-family: Tahoma, sans-serif; font-size: x-small; color: #000000}
.counter {  font-family: Tahoma, sans-serif; font-size: xx-small; font-weight: bold}
.bordeTitulo {  clip:   rect(   ); font-family: Tahoma, sans-serif; font-size: small; font-weight: bold; color: #0066CC; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.fila {  padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 4px; border: 1px #DFDFDF solid}
.menulink2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #0066CC; text-decoration: none }
